<div class="jumbotron mt-5 text-center">
  <div class="container">
    <h1 class="display-4">Clinic</h1>
    <p class="lead">Welcome to the online doctor appointment site!</p>
    <hr class="my-4">
     <% if !current_doctor && !current_patient%>
      <p class="lead">Please log in or sign up!</p>
      <p class="lead">
        <%= link_to "Log in as a Doctor", new_doctor_session_path, class:"btn btn-primary btn-lg text-white", role: "button" %>
        <%= link_to "Sign up as a Patient", new_patient_registration_path, class:"btn btn-primary btn-lg text-white", role: "button" %>
      <% else %>
      <p class="lead">You already log in!</p>
    <% end %>
    </p>
  </div>
</div>